.barra{
    background-image: linear-gradient(to right top, #000000, #141314, #202020, #2d2d2d, #3a3a3b);
}

.logotipo{
    width:25%;
}

@media screen and (min-width:483px) and (max-width:1100px){
    .logotipo{
        width:30%;
    }
}

@media screen and (max-width:482px){
    .logotipo{
        position: center;
        margin-left: 25%;
        width:50%;
    }
}

@media screen and (max-width:497px){
    img.galeria{
        display: block;
        margin-right: auto;
        margin-left: auto;
        width:60%;
        height: 100%;
    }
}

.rede{
    background-color: #000;
    font-size: 24px;
    margin-left: 4%;
    padding-right: 0.2%;
    width:7%;
    height: 110%;
    border-radius: 100%;
    border-style: solid;
    border-width:1px;
}

.copy{
    font-size: 16px;
    padding-top: 1%;
}

.titulo{
    color:#00C6EE;
    font-weight: bolder;
    font-size: 24px;
    padding-bottom: 4%;
}

.lista{
    padding-top:2%;
}

.espaco{
    padding-left: 1.5%;
}

.inserir{
    padding-left: 5pt;
    margin-bottom: 2%;
}

.galeria{
    width:230px;
    height: 230px;
    margin-left: 5%;
    margin-top: 5%;
}

.pd-parallax{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    margin: 0;
    padding: 0;
}

.ticont{
    color:#00749b;
    font-weight: bold;
}

.ticonti{
    color:#00749b;
    font-weight: bolder;
    padding-top: 4%;
}

.texto{
    color:black;
    font-size: 16px;
    font-weight: 400;
}

.contate{
    color:#00C6EE;
    font-weight: bold;
}

.contato{
    font-weight: 400;
}

.form{
    width:80%;
    margin:2px 0;
    background:rgba(0,0,0,0);
    border:none;
    border-bottom:2px solid grey;
}

button.form{
    display:inline-block;
    background:#0078ff;
    color:#fff;
    text-decoration:none;
    padding:20px 32px;
    margin-top:30px;
    border:none;
    border-radius:4px;
    font-size:16px;
    cursor:pointer;
}

.titucont{
    font-weight:900;
    color:#00749b;
    font-size:40px;
}

.msg{
    border:none;
    border-bottom:2px solid grey;
}

.novo{
    font-size: 18px;
    font-weight: 400;
}

.paragrafo p{
    font-weight: 400;
    font-size: 18px;
}

h2, h3{
    color:#00749b;
    font-weight: bolder;
}

.lin{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 38px;
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 3%;
    padding-bottom: 3%;  
}

@media screen and (max-width:450px){
    .video{
        height: 2.5%;
    }
}